/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

header { 
    background: url('https://th.bing.com/th?id=OIP.mvCrVBrhhR2dA6HesfdjHAHaEi&w=319&h=195&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2') no-repeat center center;
    background-size: cover;  /* Ensures the image covers the entire header */
    color: #fff; /* Keeps the text readable */
    padding: 1em 0;
    text-align: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0/1);
}

section {
    margin-bottom: 40px;
}

h1, h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: green;
    margin-top: 20px;
}